@{
    Layout = null;
    ViewData["Title"] = "Inicio de sesión";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Pedidos360</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>

    <div class="container-fluid vh-100">
        <div class="row h-100">

            <!-- PANEL IZQUIERDO -->
            <div class="col-md-6 d-none d-md-flex
                    justify-content-center align-items-center bg-primary-custom">

                <img src="~/img/logo.png"
                     alt="Logo"
                     class="img-fluid"
                     style="max-width:500px;" />
            </div>

            <!-- PANEL DERECHO -->
            <div class="col-12 col-md-6 d-flex
                    justify-content-center align-items-center">

                <div style="width:100%; max-width:420px;">
                    <h3 class="fw-bold mb-2">¡Bienvenido a Pedidos360!</h3>
                    <p class="text-muted mb-4">
                        Por favor ingrese sus datos para iniciar sesión
                    </p>

                        <div class="mb-3">
                            <label class="form-label">Correo</label>
                            <input id="txtcorreo" type="email" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Contraseña</label>
                            <input id="txtcontrasena" type="password" class="form-control" />
                        </div>

                        <button type="button"
                                class="btn btn-primary w-100 mb-3"
                                onclick="login_Usuarios_Valida_Inicio_Sesion()">
                            Iniciar sesión
                        </button>


                        <div class="text-center">
                            <a href="#" class="text-decoration-none">
                                He olvidado mi contraseña
                            </a>
                        </div>
                </div> 

            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/login.js" asp-append-version="true"></script>

</body>
</html>
