html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


:root {
    --color-primary: #0f7c8a;
    --color-primary-hover: #0c6671;
    --color-primary-light: #e6f4f6;
}

/* =========================
   BOTONES
   ========================= */
.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

    .btn-primary:hover,
    .btn-primary:focus {
        background-color: var(--color-primary-hover);
        border-color: var(--color-primary-hover);
    }

/* =========================
   LINKS
   ========================= */
a {
    color: var(--color-primary);
}

    a:hover {
        color: var(--color-primary-hover);
    }

/* =========================
   INPUTS (FOCUS)
   ========================= */
.form-control:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 0.2rem rgba(15, 124, 138, 0.25);
}

/* =========================
   UTILIDADES
   ========================= */
.bg-primary-custom {
    background-color: var(--color-primary);
}
.text-primary-custom {
    color: var(--color-primary);
}
.card-hover:hover .text-primary-custom {
    color: var(--color-primary-hover);
}
